/* new styles */
.appWrapper {
  background-color: #f9f5f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
  padding: 2em;
}

.appWrapper img {
  height: 2em;
}

.inputWrapper {
  margin: 2em 0;
  position: sticky;
}

.inputWrapper input {
  box-sizing: border-box;
  height: 3.5em;
  width: 24em;
  border: none;
  background-color: #f3efee;
  padding: 1em;
  border-radius: 0.75em;
}

.inputWrapper button {
  margin-left: 0.75em;
  height: 3.5em;
  border: none;
  border-radius: 0.75em;
  color: #f9f5f4;
  background-color: #393433;
  padding: 1em;
}

/* .appWrapper button {
  margin: 0.25em 1em;
} */

.settings {
  text-align: center;
  padding-right: 2em;
}

.taskListWrapper {
  display: flex;
  flex-direction: column;
  /* max-width: min-content; */
}

.taskListWrapper h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.taskItem {
  background-color: #f3efee;
  margin-bottom: 1em;
  border-radius: 0.75em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.taskItem div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskItem p {
  margin: 0;
  padding: 0;
}

.taskItem input {
  appearance: none;
  height: 1.5em;
  width: 1.5em;
  margin: 0;
  margin-right: 1em;
  padding: 0;
  border: 0.1em solid #9f9f9f;
  border-radius: 0.375em;
  display: inline-grid;
  place-content: center;
  /* text-align: center; */
}

.taskItem input:checked {
  background-color: #393433;
  border-color: #393433;
}

.taskItem input:checked::after {
  content: '🗸';
  color: #f9f5f4;
  font-weight: bold;
}

.taskItem button {
  background-color: transparent;
  border: none;
}

.taskListWrapper h2 {
  color: #d1a28b;
  font-size: 1em;
  margin: 1em 0 1.5em 0;
  padding: 0;
}
